*.fbx filter=lfs diff=lfs merge=lfs -text
*.FBX filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.TGA filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
Soulveil/Assets/Hivemind/OniValley/HDRP/Scene/L_Showcase.unity filter=lfs diff=lfs merge=lfs -text
Soulveil/Assets/Hivemind/OniValley/HDRP/Scene/L_Showcase[[:space:]]1.unity filter=lfs diff=lfs merge=lfs -text
Soulveil/Assets/Gaia[[:space:]]User[[:space:]]Data/Sessions/*/Terrain[[:space:]]Data/*.asset filter=lfs diff=lfs merge=lfs -text
Soulveil/Assets/**/Terrain[[:space:]]Data/*.asset filter=lfs diff=lfs merge=lfs -text
Soulveil/Assets/**/Terrain/*.asset filter=lfs diff=lfs merge=lfs -text
Soulveil/Assets/Gaia[[:space:]]User[[:space:]]Data/Sessions/GS-20260914[[:space:]]-[[:space:]]113242/Terrain[[:space:]]Data/*.asset filter=lfs diff=lfs merge=lfs -text
